.App {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  min-height: 350px;
  width: 100vw;
}

@media screen and (max-height: 600px) {
  .App {
    align-items: center;
  }

  .top-container {
    height: 100vh;
  }
}

@media screen and (max-height: 350px) {
  .App {
    overflow: scroll;
    align-items: flex-start;
  }
}
