.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
}
