.chart-container {
    height: 50vh;
    min-height: 300px;
    width: 90vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1em;

    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1),  rgba(255, 255, 255, 0.2));
    border-radius: 8px;
    backdrop-filter: blur(8px);
}

.chart-container.centered {
    justify-content: center;
}

.chart {
    height: 60%;
    width: 100%;
}

.chart-tooltip {
    font-size: 1em;
    background-color: #fff;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid rgba(65, 185, 131, 1);
}

.chart-controls, .chart-titles {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.current-value {
    font-size: 3em;
    font-weight: 600;
    color: #fff;
}

.chart-controls {
    flex-wrap: wrap;
}

@keyframes appear {
    from {opacity: 0}
    to {opacity: 1;}
}

@media screen and (max-width: 850px){
    .chart-container {
        width: 95vw;
    }

    .current-value {
        font-size: 1.5em;
    }
}

@media screen and (max-height: 600px) {
    .chart-container {
        height: 80vh;
    }
}
