.chart-container {
    height: 45vh;
    width: 80vw;
    min-width: 600px;
}

.chart-tooltip {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(65, 185, 131, 1);
}

.current-value {
    text-align: right;
    font-size: 56px;
    font-weight: 600;
    color: #fff;
}
