.chart-container {
    height: 45vh;
    width: 80vw;
    min-width: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1),  rgba(255, 255, 255, 0.2));
    border-radius: 8px;
    backdrop-filter: blur(8px);
}

.chart {
    height: 85%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chart-tooltip {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(65, 185, 131, 1);
}

.current-value {
    text-align: right;
    font-size: 56px;
    font-weight: 600;
    color: #fff;
    align-self: flex-end;
}
