a, a:active, a:visited, a:hover {
    color: #000;
    text-decoration: none;
}

.powered-by {
    text-shadow: none;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.powered-by a {
    color: #fff;
}

.powered-by a:hover {
    color: #a4a4a4;
}
