.news-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    border: 1px solid white;
    transform: translateY(60vh);
}

.news-container.expanded {
    transform: translateY(10vh);
}
